{% extends 'FOSUserBundle::layout.html.twig' %}
{% block title %}Login{% endblock %}
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="{{ asset('bundles/app/img/login.png') }}" />
            <p id="profile-name" class="profile-name-card"></p>

            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <span id="reauth-email" class="reauth-email"></span>

                <label for="inputEmail">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Identifiant" name="_username" value="{{ last_username }}" required autofocus>

                <label for="inputPassword">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" name="_password" required>

                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

                <input id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" />
            </form><!-- /form -->

            <a href="#" class="forgot-password">
                Oubli de mot de passe ?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}
