{% extends 'AppBundle:Admin:base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block header %}
    {% include 'AppBundle:Admin:main/top-menu.html.twig' %}
{% endblock %}
{% block main %}
    {% include 'AppBundle:Admin:main/left-menu.html.twig' %}
    <div class="back-contenu">
        <h1>Accueil</h1>
        <a href="{{ path('app_admin_videos') }}"><img class="back-video" src="{{ asset('bundles/app/img/videos.png') }}"/></a><br/>
        <a href="#" ><img class="back-programmation" src="{{ asset('bundles/app/img/programmation.png') }}"/></a><br/>
        <a href="{{ path('app_admin_utilisateurs') }}"><img class="back-utilisateurs" src="{{ asset('bundles/app/img/utilisateurs.png') }}"/></a>
    </div>
{% endblock %}
