{% extends 'AppBundle:Admin:base.html.twig' %}
{% block styles %}
{{ parent() }}
    {% stylesheets
        'bundles/app/css/fullcalendar/fullcalendar.min.css'
        'bundles/app/css/fullcalendar/planning_custom.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fullcalendar/fullcalendar.print.css') }}" media="print">
{% endblock %}
{% block js %}
{{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/fullcalendar/lib/jquery-ui.custom.min.js'
        '@AppBundle/Resources/public/js/fullcalendar/lib/moment.min.js'
        '@AppBundle/Resources/public/js/fullcalendar/fullcalendar.min.js'
        '@AppBundle/Resources/public/js/fullcalendar/lang/fr.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block main -%}
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tableau de bord
            </div>
            <div class="panel-body">
                Bienvenue sur les pages d'administration de la MMITV, sur ce site vous trouverez
                les fonctionnalités suivantes :<br/>
                - Ajout de vidéos dans une playlist.<br/>
                - Mise en place de la programmation de la MMITV.<br/>
                - Ajout/Informations sur les utilisateurs de ce site.<br/>
                Ce site a été codé sous Symfony 2, BootStrap, si vous avez des suggestions n'hésitez pas à contacter <a href="#">georgeslucas@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1 class="contenu-prog">Programmation</h1>
        <div class="col-md-10">
            <!-- grille de prod -->
            <div id='calendar'></div>
        </div>
        <div class="col-md-2">
            <!-- liste de videos drag&drop -->
            <span class="custom-dropdown custom-dropdown--white">
            <form action="get-videos-planning" method="GET" data-toggle="ajax" data-update="external-events">
                <select name="playlist_id" class="custom-dropdown__select custom-dropdown__select--white">
{% for playlist in playlists %}
                    <option value="{{ playlist.id }}"{% if loop.first %} selected{% endif %}>{{ playlist.title }}</option>
{% endfor %}
                </select>
            </form>
            </span>

            <div id='external-events'>
{% for video in playlists|first.videos %}
                <div class="fc-event" data-duration="{{ video.duration }}" data-event='{"id": "{{ video.id }}", "title": "{{ video.title }}", "stick": true}'><p>{{ video.title }} </p><img class="img-responsive" /></div>
{% endfor %}
                <p>
                    <input type='checkbox' id='drop-remove' checked/>
                    <label for='drop-remove'>Supprimer après l'ajout</label>
                </p>
            </div>

        </div>
        <div style='clear:both'></div>

    </div>
    <script type="text/javascript">
    var ajaxPost = function(event) {
    if (!confirm("La video sera lue " + event.start.calendar())) {
        revertFunc();
        $('#calendar').fullCalendar('removeEvents', calEvent.id);
    } else {
        console.log(event.id);
        console.log(event.start.format());
        $.ajax({
            type: 'POST',
            url: "plan-video",
            data: {
                video_id: event.id,
                beginning_date: event.start.format()
            },
            success: function(data){
                alert(data);
            }
        });
    }
};

$(document).ready(function() {

$('select').change(function() {
    $(this).parent().submit();
});


    /* initialize the external events
    -----------------------------------------------------------------*/

    $('#external-events .fc-event').each(function() {

        // store data so the calendar knows to render an event upon drop
        // $(this).data('event', {
        //     title: $.trim($(this).text()), // use the element's text as the event title
        //     stick: true // maintain when user navigates (see docs on the renderEvent method)
        // });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });


    /* initialize the calendar
    -----------------------------------------------------------------*/

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek', // affichage par semaine
        timeFormat: 'H:mm', //
        minTime: "08:00:00", // Debut de la journée a 8h
        maxTime: "18:30:00", // fin de la journée 18h
        allDaySlot: false, // Retirer la colonne allDay
        dayNamesShort: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'], // Nom des date en fr et complete
        editable:false,
        eventDurationEditable: false,

        droppable: true, // autorise des elements a etre dragués dans le calendrier
        dragRevertDuration: 200,

        events: [
{% for video in videos if video.beginningDate is not null %}
    {
        "title": "{{ video.title|raw }}",
        "start": "{{ video.beginningDate|date('Y-m-d\\TH:i:sP') }}",
        "id": "{{ video.id }}"
    },
{% endfor %}
],
        eventOverloap: false,
        slotEventOverlap : false,

        weekends: false, // pas de WE
        drop: function() {
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        },
        eventClick: function (calEvent, jsEvent, view) {
            $('#calendar').fullCalendar('removeEvents', calEvent.id);
            $.ajax({
                method: 'POST',
                url: 'plan-video',
                data: {
                    video_id: calEvent._id,
                    beginning_date: null
                },
                success: function(data){
                    alert(data);
                }
            });
        },

        eventReceive: function(event){
            ajaxPost(event);
        },

        eventDrop: function(event, jsEvent, ui, view) {
            ajaxPost(event);
        }

    });
});
</script>
{% endblock %}
