{% extends 'AppBundle:Admin:base.html.twig' %}
{% block title %}Videos{% endblock %}
{% block main -%}
    {{ parent() }}
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tableau de bord
            </div>
            <div class="panel-body">
                Bienvenue sur les pages d'administration de la MMITV, sur ce site vous trouverez
                les fonctionnalités suivantes :<br/>
                - Ajout de vidéos dans une playlist.<br/>
                - Mise en place de la programmation de la MMITV.<br/>
                - Ajout/Informations sur les utilisateurs de ce site.<br/>
                Ce site a été codé sous Symfony 2, BootStrap, si vous avez des suggestions n'hésitez pas à contacter <a href="#">georgeslucas@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <form action="get-videos" method="GET" data-toggle="ajax" data-update="playlist">
                    <label class="control-label" for="vid">Selectionnez une playlist :</label>
                    <select name="playlist_id" id="playlistSelect" class="contenu-vid form-control">
                    {% for playlist in playlists %}
                        <option value="{{ playlist.id }}">{{ playlist.title }}</option>
                    {% endfor %}
                    </select>
                </form>
                <div id="playlist">
{% include 'AppBundle:Admin:partials/list-videos.html.twig' with {'playlist': playlists|first} only %}
                </div>
                <h3 class="ajout-video-titre">Ajouter une playlist</h3>
                <form action="create-playlist" method="POST" data-toggle="ajax" data-update="createPlaylist">
                    <div class="form-group">
                        <label class="control-label" for="playlistTitle">Titre de la playlist</label>
                        <input name="title" class="form-control" id="playlistTitle" />
                    </div>
                    <input type="submit" class="ajout-bouton btn btn-primary" />
                    <div id="createPlaylist" class="text-success"></div>
                </form>

            </div>
        <div class="col-md-6">
            <h3 class="ajout-video-titre">Ajouter une vidéo</h3>
            <form action="add-youtube-video" method="POST" data-toggle="ajax" data-update="responseAdd">
                <div class="form-group">
                    <label class="control-label" for="url-input">Url de la vidéo</label>
                    <input type="url" name="url" id="url-input" class="form-control" aria-describedBy="help" />
                    <span id="help" class="help-block">Copiez ici un lien vers une vidéo Youtube.</span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="title-input">Titre de la vidéo</label>
                    <input type="text" id="title-input" name="title" class="form-control" />
                </div>
                <div id="infos">
                    <p id="auteur">Auteur : <span></span></p>
                    <div id="video"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="add">Ajouter à la playlist :</label>
                    <select class="contenu-vid form-control" id="add" name="playlist_id">
{% for playlist in playlists %}
                        <option value="{{ playlist.id }}">{{ playlist.title }}</option>
{% endfor %}
                    </select>
                </div>
                <input type="submit" class="ajout-bouton btn btn-primary" />
                <div id="responseAdd" class="text-success"></div>
            </form>
            <div class="diffusion">
                <h3 class="diffuser-video">Diffuser une playlist</h3>
                <select class="contenu-vid form-control" id="play">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                </select><br/>
                <select class="playlist-jour form-control">
                <option>Jour</option>
                </select>
                <select class="playlist-heure form-control">
                <option>Heure</option>
                </select><br/>
                <button type='button' class="diffuser-bouton btn btn-primary">Diffuser</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
