            <h3 class="playlist-nom">{{ playlist.title }}</h3>
            <a style="color:white;" href="delete-playlist/{{ playlist.id }}" data-toggle="ajax" data-target="confirmDelete">(supprimer cette playlist)</a>
            <span id="confirmDelete"></span>
            <p class="playlist-num-video">{{ playlist.videos|length }} vidéos</p>
            <div class="clearfix"></div>
            <div class="list-video">
{% for video in playlist.videos %}
                <div class="video row">
                    <div class="col-md-6">{{ video.embedCode|raw }}</div>
                    <!-- <img src="" alt="miniature" class="video-miniature"> -->
                    <div class="col-md-6">
                        <p>{{ video.title }}</p>
                        <p>{{ video.author }}</p>
                        <p>{{ video.duration|date('i:s') }}</p>
                    </div>
                </div>
{% endfor %}
            </div>
